<div>
  <h1>Test FrameworkCloud</h1>
</div>

<div id="chat-area">
  <p>チャット</p>
  <div id="soba-widget-chat-7A1sI7X0vuKlKzYl"></div>
  <script src="https://widgets.soba-project.com/apps/bEBqWEiUVPCzhmWM/chats/7A1sI7X0vuKlKzYl/chat.js?v=3" type="text/javascript"></script>
</div>

<div id="whiteboard-area">
  <p>スライド(ホワイトボード)</p>
  <div id="soba-widget-whiteboard-1dkFVJGJd8zhF3aY" data-widgets-appkey="bEBqWEiUVPCzhmWM" data-mode="widgets" data-tools="show" data-room-id="1" ></div>
  <script src="https://widgets.soba-project.com/apps/bEBqWEiUVPCzhmWM/whiteboards/1dkFVJGJd8zhF3aY/whiteboard.js" type="text/javascript"></script>
</div>

<div>
  <p>画面共有</p>
  <div id="soba-widget-screenshare-rki4oa4pnvuUPWU6"></div>
  <script src="https://widgets.soba-project.com/apps/bEBqWEiUVPCzhmWM/screenshares/rki4oa4pnvuUPWU6/screenshare.js" type="text/javascript"></script>
</div>