<h1>Test FrameworkCloud</h1>

<p>チャット</p>
<div id="soba-widget-chat-7A1sI7X0vuKlKzYl"></div>
<script src="https://widgets.soba-project.com/apps/bEBqWEiUVPCzhmWM/chats/7A1sI7X0vuKlKzYl/chat.js?v=3" type="text/javascript"></script>