// Place all the styles related to the tops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// チャット
.chat-area {
  width: 80vw;
  height: 60vh;
}

// スライド(ホワイトボード)
.whiteboard-area {
  width: 80vw;
  height: 60vh;
}